html, body {
    background-image: url('wallpaper.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}


.card{
    width:40rem;
    height:30rem;
    position: absolute;
    left: 50%;
    translate: -50%;
    top:50%;
    transform: translateY(-50%);
    border-radius: 20px;
    background-color: rgba(255, 255, 255,.2);
    backdrop-filter: blur(14px);
    border-style: solid;
    border-color: rgba(189, 224, 254,.2);
}

.card::before{
    content:'';
    position: absolute;
    left: 50%;
    top:50%;
    border-radius: 15px;
    transform: rotate(-5deg);
    inset: 0;
    z-index: -1;
    background-color: rgba(255, 255, 255,.2);
	backdrop-filter: blur(30px);
    border-style: solid;
    border-color: rgba(189, 224, 254,.3);
}


.card:hover::before {
  -webkit-animation: rotate 0.5s ease-in-out both;
  animation: rotate 0.5s ease-in-out both;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes rotate {
  0%{
		transform: rotate(-5deg) translate3d(0, 0, 0);
	}
	25%{
		transform: rotate(-3deg) translate3d(4px, 0, 0);
	}
	50%{
		transform: rotate(-6deg) translate3d(-3px, 0, 0);
	}
	75%{
		transform: rotate(-4deg) translate3d(2px, 0, 0);
	}
	
	100%{
		transform: rotate(-5deg) translate3d(0, 0, 0);
	}
}


.Logo{
    
    position: relative;
    left: 50%;
    translate: -50%;
    margin-top: 10%;
    height: 100px;
    width: 100px;
}

.Header h1{
    text-align: center;
    font-family: 'Fredoka One', cursive;
    transform: translateY(40%);
}

@media only screen and (max-width: 500px) {
    .card {
        width: 80%;
        height: auto;
        /* altri stili */
    }
    .Submit button{
        width: 50vw;
        height: 8vw;
    }
    .Login-form input{

        width: 50vw;
        height: 8vw; 
    }

}